* text=auto
*.json text eol=lf
*.mjs text eol=lf
*.py text eol=lf
*.md text eol=lf
*.yml text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
.editorconfig text eol=lf

.gitignore export-ignore
.gitattributes export-ignore
.editorconfig export-ignore
.github/ export-ignore
dev-tools/ export-ignore
tests/ export-ignore
dist/ export-ignore
tmp/ export-ignore
node_modules/ export-ignore
__pycache__/ export-ignore
DEVELOPER.md export-ignore
package.json export-ignore
